_build/
deps/
*.beam
erl_crash.dump
.elixir_ls/
results/
tmp/
# mix awfy.fill working dirs:
_pages/
_fill_results/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
